*{
    margin: 0;
    padding: 0;
}


body {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

header img {
    width: 120px;
    color: #fff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    text-align: center;
    align-self: center;
    
}

.info h1 {
    color: #fff;
}

.info p {
    color: #fff;
    margin-top: 15px;
}

.info button {
    margin-top: 100px;
    padding: 15px 20px;
    border: none;
    border-radius: 4px 10px;
    background-color: #3a1406;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.rodape { 
    color: #fff;
    text-align: center;
}


